<!--&lt;!&ndash;메인페이지에서 로그인 후 보여지는 메인페이지(마이페이지로 이동을위해 임시로 생성)&ndash;&gt;-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>로그인 후 메인페이지</title>-->
<!--</head>-->
<!--<body>-->

<!--<div class="title_bottom_btn">-->
<!--  <button onClick="location.href='/api/user/profile/{id}'" style="background-color: black; color: white; width: 95px; height: 35px; border-radius: 6px;font-size: 15px; font-weight: bolder; ">My page</button>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->