<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/basic.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>The Developer Life</title>
  
    <style>
        .title {
            text-align: center;
            margin-top: 30px;
            background-color: white;
        }
        .subtitle {
            font-size: 14px;
            text-align: center;
        }
        .btn {
            margin-top: 20px;
            margin-right: 10px;
            text-align: right;
        }
        .postBody {
            height: 500px;
            text-align: left;
            margin-top: 100px;
            margin-left: 30px;
        }
        .card {
            float: left;
            margin-left: 50px;
        }
        .category{
            float: left;
            text-justify: auto;
        }
        .title_bottom_btn {
            float:right;
            margin-top: 10px;
            margin-right: 50px;
            text-justify: auto;
        }
    </style>
    <script>
        $(document).ready(function () {
            setPost();
        });
        function showPage() {
            setPost();
        }
        function setPost() {
            $.ajax({
                type : 'GET',
                url : '/api/posts',
                success : function (response) {
                    $('#post-cards').empty();
                    console.log(response)
                    for(let i = 0; i < response.length; i++) {
                        let post_title = response[i]['title'];
                        console.log(post_title)
                        setHtml(post_title);
                    }
                }
            });
        }
        function setHtml(post_title) {
            let html = `
        <div class="card" style="width: 18rem;" >
            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTEwMDVfMTIx%2FMDAxNjMzNDExNTY3Mzcw.x-nuyhK4Rek1cZyCqawL1bcIJ2zND2UOesRwP1IdjYog.yIG8xUwAEo9VXMr6I3swNSehO0vmBWFdipoQnnTQJBAg.JPEG.latte_two%2FKakaoTalk_20211005_141825257_04.jpg&type=sc960_832" style="width: 280px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">${post_title}</h5>
            </div>
        </div>`;
            $('#post-cards').append(html);
        }
    </script>
</head>
<body>
<div class="btn">
    <button onClick="location.href='/api/user/login-page'" style="background-color: white; color: black; width: 95px; height: 35px; border-radius: 6px;font-size: 15px; font-weight: bolder; ">Log In</button>
    <button onClick="location.href='/api/user/signup'" style="background-color: black; color: white; width: 95px; height: 35px; border-radius: 6px;font-size: 15px; font-weight: bolder; ">Sign Up</button>
</div>
<div class="title">
    <h1> The Developer Life</h1>
</div>
<div class="subtitle">
    <b>예비 개발자 또는 개발자들의 TMI (TIL, 개발 팁, 취미 등) 공유를 위한 커뮤니티</b>
</div>
<div class="title_bottom_btn">
    <button onClick="location.href='/api/post/write'" style="background-color: black; color: white; width: 95px; height: 35px; border-radius: 6px;font-size: 15px; font-weight: bolder; ">Upload</button>
</div>

<div class="postBody" id="">
    <div class="category" >
        <button style="background-color: black; color: white; width: 95px; height: 38px; border-radius: 6px;font-size: 15px; font-weight: bolder;">카테고리 </button>
        <br> <br> <br> <br> <br> <br>
        <button style="background-color: black; color: white; width: 95px; height: 38px; border-radius: 6px;font-size: 12px; font-weight: bolder; ">개발 / 유머 짤</button> <br> <br>
        <button style="background-color: black; color: white; width: 95px; height: 38px; border-radius: 6px;font-size: 12px; font-weight: bolder; ">포트폴리오</button> <br> <br>
        <button style="background-color: black; color: white; width: 95px; height: 38px; border-radius: 6px;font-size: 12px; font-weight: bolder; ">취업</button> <br> <br>
        <button style="background-color: black; color: white; width: 95px; height: 38px; border-radius: 6px;font-size: 12px; font-weight: bolder; ">운동</button> <br> <br>
        <button style="background-color: black; color: white; width: 95px; height: 38px; border-radius: 6px;font-size: 12px; font-weight: bolder; ">게임</button> <br> <br>
        <button style="background-color: black; color: white; width: 95px; height: 38px; border-radius: 6px;font-size: 12px; font-weight: bolder; ">개발자 놀이터</button> <br> <br>
        <button style="background-color: black; color: white; width: 95px; height: 38px; border-radius: 6px;font-size: 12px; font-weight: bolder; ">익명 게시판</button>
    </div>

    <div id="post-cards">
        <div class="card" style="width: 18rem;" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
            </div>
        </div>
    </div>

</div>
</body>
</html>