<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 최선 버전 로드 시, container 아니여도 작동함. -> 이유는 흠... -->
    <!-- Jquery CDN 로드 : 항상 최신 버전 사용 -->
    <!--<script src="https://code.jquery.com/jquery-latest.min.js"></script>-->

    <!-- 부트스트랩 CDN 로드 : 항상 최신 버전 사용 : maxcdn -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.bundle.min.js"></script>&ndash;&gt;-->

    <!-- 부트스트랩 4.x 에서는 class = "container"가 아니여도 작동 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>-->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">-->

    <!-- 부트스트랩 5.x 에서는 container 클래스 필요 - bootstrap 페이지 요소를 사용할 때 필수요소 -->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>-->

    <!--<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>

    <style>

        .dropdown-toggle {
            color: white;
        }

        .actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .title {
            text-align: center;
            margin-top: 30px;
            background-color: white;
        }

        .leftBtn {
            margin-left: 20px;
            margin-top: 20px;
            margin-right: 20px;
            text-align: right;
            display: inline-block;
        }

        .rightBtn {
            float: right;
            text-align: right;
            margin-left: 10px;
            margin-top: 20px;
            margin-right: 10px;
        }

        .all-body {
            width: auto;
            min-width: 568px;
            margin: 50px 200px;
            text-align: center;
        }

        .postForm {
            font-size: 20px;
            text-align: left;
        }

        .commentForm {
            margin-top: 20px;
            font-size: 20px;
            text-align: left;
        }

        .dateAuth {
            font-size: 20px;
            text-align: left;
        }

        #subPostTitle, #subPostTitle2 {
            font-size: 20px;
            text-align: left;
            font-weight: bold;
        }

        .post-title {
            font-size: 45px;
            text-align: center;
        }

        #comment-submit-btn {
            margin-top: 10px;
            margin-left: 5px;
            margin-bottom: 20px;

        }

        .inactive {
            display: none;
        }

        .comment-list li {
            margin-bottom: 20px;
        }

        .comment {
            height:auto;
            background-color: #f1f1f1;
            padding: 10px;
            border-radius: 5px;
            MARGIN-BOTTOM: 10PX;
        }

        .comment .author {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .comment .timestamp {
            font-size: 12px;
            color: #888;
        }

        .comment .content {
            margin-top: 5px;
        }

        .comment .form-floating {
            display : flex;
            flex-direction: row;

        }

        .comment .form-floating button {
            height:auto;
            margin:5px;
        }

        .comment .form-floating textarea {
            height: 70px;
            border-radius: 10px;
        }

    </style>

    <script th:inline="javascript">
        const host = 'http://' + window.location.host;
        let postId = [[${post.id}]]
        let username = [[${user}]];
        let commentList = [[${commentList}]];


        $(document).ready(function () {
            // $('.dropdown-toggle').on('click', function() {
            //     $(this).siblings('.dropdown-menu').toggle();
            // });

            getComments();
            setUserType();
        });

        function getComments() {
            $('#comment-list').empty();
            if (commentList === null) {
                return;
            } else {
                for (const comment of commentList) {
                    let commentId = comment['id'];
                    let commentContent = comment['content'];
                    let createdAt = comment['createdAt'];
                    let modifiedAt = comment['modifiedAt'];
                    let user_id = comment['userName'];

                    setHtml(commentId,commentContent, createdAt, modifiedAt, user_id);
                }
            }
        }

        function setHtml(commentId,commentContent, createdAt, modifiedAt, user_id) {
            let commentDate = new Date(modifiedAt).toDateString() + " " + new Date(modifiedAt).toLocaleTimeString();

            let html = `<div class="container comment">
                <div class="row">
                    <div class="col">
                        <div class="author">${user_id}</div>
                    </div>
                    <div class="col-auto">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="commentAction" data-bs-toggle="dropdown" aria-expanded="false">
                            더보기
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="commentAction">
                            <li><a class="dropdown-item" onclick="modifyComment(${commentId})">수정</a></li>
                            <li><a class="dropdown-item" onclick="deleteComment(${commentId})">삭제</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="timestamp">${commentDate}</div>
                <div class="content" id="content-${commentId}">${commentContent} </div>
                <div class="inactive" id="form-floating-${commentId}">
                  <textarea class="form-control" id="floatingTextarea-${commentId}">${commentContent}</textarea>
                  <label for="floatingTextarea2">Comments</label>
                  <button class="btn btn-secondary col-1" type="button" onclick="submitModify(${commentId})">수정하기</button>
                </div>

            </div>`;
            $('#comment-list').prepend(html);
        }

        function writePost() {
            const content = document.querySelector("#commentContent").value;

            const data = {
                content: content
            }

            $.ajax({
                type: 'POST',
                url: '/api/post/' + postId + '/comment',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert("댓글 등록 성공");
                    window.location.reload()
                }, error: function (req, status, error) {
                    alert("댓글 등록 실패");
                }
            });
        }

        function deletePost() {
            console.log(postId)
            $.ajax({
                type: 'DELETE',
                url: '/api/post/' + postId,
                success: function (response) {
                    alert("게시글 삭제 성공");
                    window.location.href = "/";
                }, error: function (req, status, error) {
                    alert("게시글 삭제 실패");
                }
            })
        }

        function modifyComment(commentId) {
            showModifyFormat(commentId);
        }

        function showModifyFormat(commentId) {
            if($('#form-floating-'+commentId).css('display') == "none") {
                //$('#form-floating-'+commentId).show();
                //$('#content-'+commentId).hide();
                $('#form-floating-'+commentId).removeClass('inactive');
                $('#form-floating-'+commentId).addClass('form-floating');
                $('#content-'+commentId).addClass('inactive');
            } else {
                //$('#form-floating-' + commentId).hide();
                //$('#content-'+commentId).show();
                $('#form-floating-'+commentId).addClass('inactive');
                $('#form-floating-'+commentId).removeClass('form-floating');
                $('#content-'+commentId).removeClass('inactive');
            }
        }

        function submitModify(commentId) {
            //const content = document.querySelector("#commentContent").value;
            let content = $('#floatingTextarea-' + commentId).val();

            let data = {
                'content' : content
            }

            if(!isValidContent(content)) {
                return;
            }

            $.ajax({
                type: 'PUT',
                url: `/api/post/comment/${commentId}`,
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    alert("댓글 수정 성공")
                    window.location.reload();
                }, error(res, status, error) {
                    alert("댓글 수정 실패")
                    window.location.reload();
                }

            });

        }

        function deleteComment(commentId) {
            $.ajax({
                type: 'DELETE',
                url: `/api/post/comment/${commentId}`,
                success: function (response) {
                    //alert("댓글 삭제 성공")
                    alert(response['message'])
                    window.location.reload();
                }, error(res, status, error) {
                    //alert("댓글 삭제 실패")
                    alert(res['responseJSON']['message'])
                    window.location.reload();
                }
            })
        }

        function setUserType() {
            if(username === 'Guest') {
                $('button.login').removeClass('inactive');
                $('button.logout').addClass('inactive');
                $('button.mypage').addClass('inactive');
                $('button.signup').removeClass('inactive');
            } else {
                $('button.login').addClass('inactive');
                $('button.logout').removeClass('inactive');
                $('button.signup').addClass('inactive');
                $('button.mypage').removeClass('inactive');

                $('.welcome-msg').text(username + '님 환영합니다.')
            }
        }

        function logout() {
            // 토큰 삭제
            Cookies.remove('Authorization', {path: '/'});
            window.location.href = host;
        }

        function isValidContent(content) {
            if(content == '') {
                alert('내용을 입력해주세요.')
                return false;
            }

            if(content.trim().length > 200) {
                alert('공백 포함 200자 이하로 입력해주세요.')
                return false;
            }

            return true;
        }

    </script>

</head>
<body>

<div class="leftBtn">
    <input type="button" class="btn btn-dark" value="Back" onclick="location.href='/'"/>
</div>

<div class="rightBtn">
    <span class="welcome-msg"></span>  <br/>
    <button onclick="location.href='/api/user/profile'" class="btn btn-dark mypage" style="background-color: white; color:black;"> MyPage</button>
    <button onclick="location.href='/api/user/login-page'" class="btn btn-dark login" style="background-color: white; color:black;"> Log In</button>
    <button onclick="logout()" class="btn btn-dark logout"> Log Out</button>
    <button onclick="location.href='/api/user/signup'" class="btn btn-dark signup"> Sign Up</button>
</div>
<br/><br/>

<div class="header mb-5">
    <div class="title">
        <h1>The Developer Life</h1>
        <p>게시글 상세 페이지</p>
    </div>
</div>

<hr>

<div class="all-body" id="body">
    <div class="post-title">
        <b><span th:text="${post.title}"></span></b>
    </div>
    <form class="postForm">
        <div class="post-info">
            <div class="rightBtn">
                <button type="button" class="btn btn-dark"
                        th:onclick="|location.href='@{/api/post/modify(id=${post.id})}'|">수정
                </button>
                <button type="button" class="btn btn-dark" onclick="deletePost()">삭제</button>
                <button type="button" class="btn btn-dark" onclick="location.href='/'">목록</button>
            </div>
        </div>

        <br/><br/>
        <div class="dateAuth">
            <b><span class="author">작성자</span></b> : <span
                th:text="${post.userName}"></span>
            </span>
            <b><span class="date">게시일</span></b> : <span
                th:text="${#temporals.format(post.modifiedAt, 'yyyy-MM-dd HH:mm:ss')}"> </span>
            <br/><br/>
        </div>

        <div class="input-group-lg">
            <span class="input-group-text" id="subPostTitle">게시글 내용</span>
            <span class="post-content" aria-label="With textarea"
                  th:text="${post.content}"></span>
        </div>
        <br/><br/><br/>
    </form>

    <div class="commentForm">
        <hr>
        <div class="comments">
            <div class="input-group-lg">
                <span class="input-group-text" id="subPostTitle2">댓글</span>
                <textarea class="form-control" id="commentContent" aria-label="With textarea" rows="2"
                          placeholder="댓글을 입력하세요"></textarea>
                <button class="btn btn-dark" id="comment-submit-btn" onclick="writePost()">등록</button>
            </div>

            <br/><br/>

            <div id="comment-list">
                <div class="container comment">
                    <div class="comment-header">
                        <div class="row">
                            <div class="col">
                                <div class="author">주닭발</div>
                            </div>
                            <div class="col-auto">
                                <div class="actions">
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="commentActionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ...
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="commentActionDropdown">
                                            <a class="dropdown-item btn-dark" href="#">수정</a>
                                            <a class="dropdown-item btn-dark" href="#">삭제</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timestamp">어쩌구저쩌구 날</div>
                        <div class="content">댓글 입력하숑.</div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Comments</label>
                            <button class="btn btn-secondary-sm">수정하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>